[0;4mNEXT[0m[0;4m [0m[0;4mLEFT[0m[0;4m [0m[0;4mLAST                       [0m[0;4m [0m[0;4m PASSED[0m[0;4m [0m[0;4mUNIT               [0m[0;4m [0m[0;4mACTIVATES            [0m
-       - Tue 2026-04-28 11:13:17 +07 19s ago certbot-renew.timer certbot-renew.service

[0;1;39m1 timers listed.[0m
Pass --all to see loaded but inactive timers, too.
